build/
syntax: glob
*.swp
*.swo
CPack*
CTest*
Testing/
docs/
TAGS
.DS_Store
.cproject
.project
*.orig
*.idb
*.pdb
*.ncb
*.suo
*.htm
*.user
*.dep
*.manifest
*.rsp
*~
.idea/*
/nbproject/
/doxygen/html/
