language: cpp

sudo: required

dist: xenial

cache:
  apt: true

env:
  global:
    - REPO_SLUG=$TRAVIS_REPO_SLUG
    - IS_PULL_REQUEST=$TRAVIS_PULL_REQUEST
    - BUILD_DIR=$TRAVIS_BUILD_DIR
    - BUILD_DARTPY=OFF
    - CODECOV=OFF

matrix:
  fast_finish: true
  include:
    - os: linux
      env:
        - BUILD_NAME=XENIAL_DEBUG_CODECOV
        - BUILD_TYPE=Debug
        - COMPILER=gcc
        - CODECOV=ON

    - os: linux
      env:
        - DOCKER_NAME="dartsim/dart-dev:xenial-32bit-v6.10"
        - BUILD_NAME=XENIAL_32BIT_DEBUG_CODECOV
        - BUILD_TYPE=Release  # TODO: Tests fail in debug mode
        - COMPILER=gcc
      services: docker

    - os: linux
      env:
        - DOCKER_NAME="dartsim/dart-dev:bionic-v6.10"
        - BUILD_DOCS=ON
        - BUILD_TYPE=Release
        - COMPILER=gcc
      services: docker

install:
  - if [ -n "$DOCKER_NAME" ]; then
      docker pull $DOCKER_NAME;
    else
      sudo -E .ci/install.sh;
    fi

script:
  - if [ -n "$DOCKER_NAME" ]; then
      docker run \
          -v $TRAVIS_BUILD_DIR:$TRAVIS_BUILD_DIR \
          --env-file .ci/docker/env.list \
          $DOCKER_NAME \
          /bin/sh -c "cd $TRAVIS_BUILD_DIR && ./.ci/script.sh";
    else
      sudo -E .ci/script.sh;
    fi

deploy:
  github-token: $GITHUB_TOKEN
  provider: pages
  skip-cleanup: true
  local-dir: gh-pages
  keep-history: false
  verbose: true
  on:
    branch: master
    condition: $BUILD_DOCS == ON && $TRAVIS_EVENT_TYPE != cron
