language: cpp

sudo: required

dist: xenial

cache:
  apt: true

env:
  global:
    - REPO_SLUG=$TRAVIS_REPO_SLUG
    - IS_PULL_REQUEST=$TRAVIS_PULL_REQUEST
    - OS_NAME=$TRAVIS_OS_NAME
    - BUILD_DIR=$TRAVIS_BUILD_DIR
    - BUILD_DARTPY=OFF
    - CODECOV=OFF

matrix:
  fast_finish: true
  include:
    - os: linux
      env:
        - BUILD_NAME=XENIAL_DEBUG_CODECOV
        - SUDO=sudo
        - BUILD_TYPE=Debug
        - COMPILER=GCC
        - CODECOV=ON

    - os: linux
      env:
        - BUILD_NAME=XENIAL_32BIT_DEBUG_CODECOV
        - DOCKERFILE="Dockerfile.ubuntu-xenial-32bit"
        - BUILD_TYPE=Release  # TODO: Tests fail in debug mode
        - COMPILER=GCC
      services: docker

    - os: linux
      env:
        - BUILD_DOCS=ON
        - DOCKERFILE="Dockerfile.ubuntu-bionic"
        - BUILD_TYPE=Release
        - COMPILER=GCC
      services: docker

install:
  - if [ -n "$DOCKERFILE" ]; then
      docker build -t "${DOCKERFILE,,}" -f ".ci/docker/$DOCKERFILE" .;
      docker run -itd -v $TRAVIS_BUILD_DIR:$TRAVIS_BUILD_DIR --env-file .ci/docker/env.list --name dart-docker "${DOCKERFILE,,}";
      docker exec dart-docker /bin/sh -c "cd $TRAVIS_BUILD_DIR && ./.ci/install.sh";
    else
      '.ci/install.sh';
    fi

script:
  - if [ -n "$DOCKERFILE" ]; then
      docker exec dart-docker /bin/sh -c "cd $TRAVIS_BUILD_DIR && ./.ci/script.sh";
    else
      '.ci/script.sh';
    fi

deploy:
  github-token: $GITHUB_TOKEN
  provider: pages
  skip-cleanup: true
  local-dir: gh-pages
  keep-history: false
  verbose: true
  on:
    branch: master
    condition: $BUILD_DOCS == ON && $TRAVIS_EVENT_TYPE != cron
