language: cpp

sudo: required

dist: trusty

cache:
  apt: true

env:
  global:
    - REPO_SLUG=$TRAVIS_REPO_SLUG
    - IS_PULL_REQUEST=$TRAVIS_PULL_REQUEST
    - OS_NAME=$TRAVIS_OS_NAME
    - BUILD_DIR=$TRAVIS_BUILD_DIR

matrix:
  include:
    - os: linux
      env:
        - BUILD_NAME=XENIAL_DEBUG
        - DOCKERFILE="Dockerfile.ubuntu-xenial"
        - BUILD_TYPE=Debug
        - COMPILER=GCC
      services: docker
    - os: linux
      env:
        - BUILD_NAME=XENIAL_RELEASE
        - DOCKERFILE="Dockerfile.ubuntu-xenial"
        - BUILD_TYPE=Release
        - COMPILER=GCC
      services: docker
    - os: linux
      env:
        - BUILD_NAME=BIONIC_DEBUG
        - DOCKERFILE="Dockerfile.ubuntu-bionic"
        - BUILD_TYPE=Debug
        - COMPILER=GCC
      services: docker
    - os: linux
      env:
        - BUILD_NAME=BIONIC_RELEASE
        - DOCKERFILE="Dockerfile.ubuntu-bionic"
        - BUILD_TYPE=Release
        - COMPILER=GCC
      services: docker
    - os: linux
      env:
        - BUILD_NAME=COSMIC_DEBUG
        - DOCKERFILE="Dockerfile.ubuntu-cosmic"
        - BUILD_TYPE=Debug
        - COMPILER=GCC
      services: docker
    - os: linux
      env:
        - BUILD_NAME=COSMIC_RELEASE
        - DOCKERFILE="Dockerfile.ubuntu-cosmic"
        - BUILD_TYPE=Release
        - COMPILER=GCC
      services: docker
    # - os: osx
    #   osx_image: xcode9.4
    #   compiler: clang
    #   env:
    #     - BUILD_NAME=XCODE94_DEBUG
    #     - BUILD_TYPE=Debug
    #     - COMPILER=CLANG
    # - os: osx
    #   osx_image: xcode9.4
    #   compiler: clang
    #   env:
    #     - BUILD_NAME=XCODE94_RELEASE
    #     - BUILD_TYPE=Release
    #     - COMPILER=CLANG
    - os: linux
      compiler: gcc
      env:
        - BUILD_NAME=DOCS
        - SUDO=sudo
        - BUILD_TYPE=Release
        - COMPILER=GCC

install:
  - if [ -n "$DOCKERFILE" ]; then
      docker build -t "${DOCKERFILE,,}" -f ".ci/docker/$DOCKERFILE" .;
      docker run -itd -v $TRAVIS_BUILD_DIR:$TRAVIS_BUILD_DIR --env-file .ci/docker/env.list --name dart-docker "${DOCKERFILE,,}";
      docker exec dart-docker /bin/sh -c "cd $TRAVIS_BUILD_DIR && ./.ci/install.sh";
    else
      '.ci/install.sh';
    fi

script:
  - if [ -n "$DOCKERFILE" ]; then
      docker exec dart-docker /bin/sh -c "cd $TRAVIS_BUILD_DIR && ./.ci/script.sh";
    else
      '.ci/script.sh';
    fi

after_failure:
  - cat build/Testing/Temporary/LastTest.log
  - cat build/Testing/Temporary/LastTestsFailed.log

deploy:
  github-token: $GITHUB_TOKEN
  provider: pages
  skip-cleanup: true
  local-dir: gh-pages
  keep-history: false
  verbose: true
  on:
    branch: master
    condition: $BUILD_NAME == DOCS && $TRAVIS_EVENT_TYPE != cron
