# https://help.github.com/en/articles/workflow-syntax-for-github-actions

name: API Documentation

on:
  push:
    branches:
      - "main"
    paths:
      - "docs/**"
      - "dart/**/*.hpp"
      - "dart/**/*.h"
      - ".github/workflows/api_doc.yml"
      - "scripts/build_docs.py"
  pull_request:
    paths:
      - "docs/**"
      - ".github/workflows/api_doc.yml"
      - "scripts/build_docs.py"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Docs | Build API Reference
    runs-on: ubuntu-latest
    env:
      BUILD_TYPE: Release
      COMPILER: gcc
      BUILD_DOCS: ON
    steps:
      # Extract branch name
      - name: Extract branch name
        if: github.event_name != 'pull_request'
        shell: bash
        run: echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
        id: extract_branch

      # Extract branch name on pull request
      - name: Print branch name
        if: github.event_name == 'pull_request'
        run: echo "BRANCH_NAME=${GITHUB_HEAD_REF}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          cache: true

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Configure environment for compiler cache
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
          echo "DART_COMPILER_CACHE=sccache" >> $GITHUB_ENV
          echo "CMAKE_C_COMPILER_LAUNCHER=sccache" >> $GITHUB_ENV
          echo "CMAKE_CXX_COMPILER_LAUNCHER=sccache" >> $GITHUB_ENV
          echo "CCACHE_BASEDIR=${GITHUB_WORKSPACE}" >> $GITHUB_ENV
          echo "CCACHE_DIR=${RUNNER_TEMP}/ccache" >> $GITHUB_ENV
          echo "CCACHE_COMPRESS=true" >> $GITHUB_ENV
          echo "CCACHE_MAXSIZE=5G" >> $GITHUB_ENV
          mkdir -p "${RUNNER_TEMP}/ccache"

      - name: Build Documentation
        run: |
          pixi run api-docs-test-gh

      - name: Upload documentation artifact
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/upload-pages-artifact@v4
        with:
          path: gh-pages

      - name: Cleanup
        if: always()
        run: |
          pixi run api-docs-clean-gh

  deploy:
    name: Docs | Deploy API Reference
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
