# https://help.github.com/en/articles/workflow-syntax-for-github-actions

name: CI macOS

# Trigger the workflow on any push to any branch
on:
  push:
    branches:
      - "**"

  # Schedule the workflow to run at 2:00 AM every Sunday and Wednesday
  # in the Pacific Time zone (which is 8 hours behind UTC)
  # Cron syntax: [minute hour day_of_the_month month day_of_the_week]
  schedule:
    - cron: "0 10 * * 0,3" # Runs every Sunday and Wednesday at 2:00 AM in Pacific Time

jobs:
  build:
    runs-on: ${{ matrix.osx_image }}
    strategy:
      fail-fast: false
      matrix:
        build_type: [Release]
        osx_image: [macos-latest]
        enable_simd: [ON]
    env:
      COMPILER: clang
      BUILD_TYPE: ${{ matrix.build_type }}
      BUILD_DARTPY: ON
      IN_CI: ON
      ENABLE_SIMD: ${{ matrix.enable_simd }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Dependencies
        env:
          INSTALL_OSG_HEAD: ON # To avoid building OSG, until 3.7 is released.
        run: .ci/install_macos.py
      - name: Build
        run: sudo -E .ci/build.py
