# https://help.github.com/en/articles/workflow-syntax-for-github-actions

name: CI Windows

on:
  push:
    branches:
      - "**"
    paths-ignore:
      - ".github/workflows/cache_*.yml"
      - "docker/dev/**"
  pull_request:
    branches:
      - "**"
    paths-ignore:
      - ".github/workflows/cache_*.yml"
      - "docker/dev/**"
  schedule:
    # Cron syntax: [minute hour day_of_the_month month day_of_the_week]
    - cron: "0 2 * * 0,3" # Run every Sunday and Wednesday at 02:00
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.build_type }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        build_type: ["Release"] # TODO: Add Debug
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.1
        with:
          cache: true

      - name: Check Lint
        run: |
          pixi run check-lint

      - name: Test DART and dartpy
        run: |
          $env:DART_VERBOSE = "ON"; `
          $env:BUILD_TYPE = "${{ matrix.build_type }}"; `
          pixi run test-all

      - name: Install
        run: |
          $env:DART_VERBOSE = "ON"; `
          $env:BUILD_TYPE = "${{ matrix.build_type }}"; `
          pixi run install
