# https://help.github.com/en/articles/workflow-syntax-for-github-actions

name: CI Windows

on:
  push:
    branches:
      - "**"

jobs:
  build_2019:
    name: ${{ matrix.build_type }}
    runs-on: windows-2019
    strategy:
      fail-fast: false
      matrix:
        toolset: [""]
        build_type: [Release]
        build_shared_libs: [ON, OFF]
    env:
      BUILD_TYPE: ${{ matrix.build_type }}
      VCPKG_ROOT: "C:/dartsim/vcpkg"
      VCPKG_BUILD_TAG: v2020.11-1-v7.0-2
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Dependencies
        shell: cmd
        run: |
          mkdir -p C:\dartsim
          choco install -y wget
          wget -q https://github.com/dartsim/vcpkg-build/releases/download/%VCPKG_BUILD_TAG%/vcpkg-dartsim-dependencies.zip
          unzip -qq vcpkg-dartsim-dependencies.zip -d C:\dartsim
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U pytest
      - name: Build
        shell: cmd
        run: |
          mkdir build
          cd build
          cmake .. -G "Visual Studio 16 2019" -A x64 -Wno-dev ${{ matrix.toolset }} ^
            -DCMAKE_BUILD_TYPE=%BUILD_TYPE% ^
            -DCMAKE_TOOLCHAIN_FILE="%VCPKG_ROOT%/scripts/buildsystems/vcpkg.cmake" ^
            -DDART_DEBUG=ON ^
            -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs }} ^
            -DDART_SKIP_fcl=ON
          cmake --build . --config %BUILD_TYPE% --target ALL_BUILD --parallel
          cmake --build . --config %BUILD_TYPE% --target tests --parallel
          ctest --rerun-failed --output-on-failure -C %BUILD_TYPE%
  build_2022:
    name: ${{ matrix.build_type }}
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        toolset: [""]
        build_type: [Release]
        build_shared_libs: [ON, OFF]
    env:
      BUILD_TYPE: ${{ matrix.build_type }}
      VCPKG_ROOT: "C:/dartsim/vcpkg"
      VCPKG_BUILD_TAG: v2020.11-1-v7.0-2
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Dependencies
        shell: cmd
        run: |
          mkdir -p C:\dartsim
          choco install -y wget
          wget -q https://github.com/dartsim/vcpkg-build/releases/download/%VCPKG_BUILD_TAG%/vcpkg-dartsim-dependencies.zip
          unzip -qq vcpkg-dartsim-dependencies.zip -d C:\dartsim
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U pytest
      - name: Build
        shell: cmd
        run: |
          mkdir build
          cd build
          cmake .. -G "Visual Studio 17 2022" -A x64 -Wno-dev ${{ matrix.toolset }} ^
            -DCMAKE_BUILD_TYPE=%BUILD_TYPE% ^
            -DCMAKE_TOOLCHAIN_FILE="%VCPKG_ROOT%/scripts/buildsystems/vcpkg.cmake" ^
            -DDART_DEBUG=ON ^
            -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs }} ^
            -DDART_SKIP_fcl=ON
          cmake --build . --config %BUILD_TYPE% --target ALL_BUILD --parallel
          cmake --build . --config %BUILD_TYPE% --target tests --parallel
          ctest --rerun-failed --output-on-failure -C %BUILD_TYPE%
