# https://help.github.com/en/articles/workflow-syntax-for-github-actions

name: CI Windows

on:
  push:
    branches:
      - "**"
  schedule:
    # Cron syntax: [minute hour day_of_the_month month day_of_the_week]
    - cron: "0 2 * * 0,3" # Run every Sunday and Wednesday at 02:00

jobs:
  build_2022:
    name: ${{ matrix.build_type }}
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        toolset: [""]
        build_type: [Release]
        build_shared_libs: [OFF]  # TODO(JS): Add ON once shared lib build is resolved
        build_dartpy: [OFF]       # Build tests and dartpy exclusively 
                                  # and building dartpy is disabled for now due to the lack of sufficient disk space in the CI
    env:
      BUILD_TYPE: ${{ matrix.build_type }}
      VCPKG_ROOT: "C:/dartsim/vcpkg"
      VCPKG_BUILD_TAG: v6.13-2022.07.25-0
      BUILD_DARTPY: ${{ matrix.build_dartpy }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Dependencies
        shell: cmd
        run: |
          mkdir -p C:\dartsim
          choco install -y wget
          wget -q https://github.com/dartsim/vcpkg-build/releases/download/%VCPKG_BUILD_TAG%/vcpkg-dartsim-dependencies.zip
          unzip -qq vcpkg-dartsim-dependencies.zip -d C:\dartsim
      - name: Build and run tests
        if: matrix.build_dartpy == 'OFF'
        shell: cmd
        run: |
          mkdir build
          cd build
          cmake .. -G "Visual Studio 17 2022" -A x64 -Wno-dev ${{ matrix.toolset }} ^
            -DCMAKE_BUILD_TYPE=%BUILD_TYPE% ^
            -DDART_BUILD_DARTPY=%BUILD_DARTPY% ^
            -DCMAKE_TOOLCHAIN_FILE="%VCPKG_ROOT%/scripts/buildsystems/vcpkg.cmake" ^
            -DDART_MSVC_DEFAULT_OPTIONS=ON ^
            -DDART_VERBOSE=ON ^
            -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs }}
          cmake --build . --config %BUILD_TYPE% --target tests --parallel
          ctest --rerun-failed --output-on-failure -C %BUILD_TYPE%
      - name: Build dartpy
        if: matrix.build_dartpy == 'ON'
        shell: cmd
        run: |
          python -m pip install --upgrade pip
          pip install -U pytest
          mkdir build
          cd build
          cmake .. -G "Visual Studio 17 2022" -A x64 -Wno-dev ${{ matrix.toolset }} ^
            -DCMAKE_BUILD_TYPE=%BUILD_TYPE% ^
            -DDART_BUILD_DARTPY=%BUILD_DARTPY% ^
            -DCMAKE_TOOLCHAIN_FILE="%VCPKG_ROOT%/scripts/buildsystems/vcpkg.cmake" ^
            -DDART_MSVC_DEFAULT_OPTIONS=ON ^
            -DDART_VERBOSE=ON ^
            -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs }}
          cmake --build . --config %BUILD_TYPE% --target dartpy --parallel
