# https://help.github.com/en/articles/workflow-syntax-for-github-actions

name: CI Windows

on:
  push:
    branches:
      - "**"
    paths-ignore:
      - ".github/workflows/cache_*.yml"
  pull_request:
    branches:
      - "**"
    paths-ignore:
      - ".github/workflows/cache_*.yml"
  schedule:
    # Cron syntax: [minute hour day_of_the_month month day_of_the_week]
    - cron: "0 2 * * 0,3" # Run every Sunday and Wednesday at 02:00

jobs:
  build_2022:
    name: ${{ matrix.build_type }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        toolset: [""]
        build_type: [Release]
        # build_shared_libs: [ON, OFF]  # TODO(JS): Enable once shared lib build is resolved
        build_shared_libs: [OFF]

    env:
      BUILD_TYPE: ${{ matrix.build_type }}
      VCPKG_ROOT: "C:/dartsim/vcpkg"
      ZIP_NAME: vcpkg-dartsim-deps-v6.14.zip

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download vcpkg
        id: download-vcpkg
        uses: dawidd6/action-download-artifact@v3.1.2
        with:
          workflow: "cache_vcpkg.yml"
          workflow_conclusion: success
          name: ${{ env.ZIP_NAME }}
          path: ${{ env.VCPKG_ROOT }}

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U pytest

      - name: Build
        shell: cmd
        run: |
          mkdir build
          cd build
          cmake .. -G "Visual Studio 17 2022" -A x64 -Wno-dev ${{ matrix.toolset }} ^
            -DCMAKE_BUILD_TYPE=%BUILD_TYPE% ^
            -DCMAKE_TOOLCHAIN_FILE="%VCPKG_ROOT%/scripts/buildsystems/vcpkg.cmake" ^
            -DDART_MSVC_DEFAULT_OPTIONS=ON ^
            -DDART_VERBOSE=ON ^
            -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs }}
          cmake --build . --config %BUILD_TYPE% --target ALL_BUILD --parallel
          ctest --rerun-failed --output-on-failure -C %BUILD_TYPE%
